<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>主页</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>

<body>
    {% if username %}
    <h1>{{ username }}的个人主页</h1>
    <a href="/logout" onclick="showAlert()">登出</a>
    {% else %}
    <div class="login-register-container">
        <a href="/login" class="login">登录</a>
        <a href="/register" class="register">注册</a>
    </div>
    </div>
    {% endif %}
</body>

</html>