<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录页面</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    <script>
        setTimeout(function () {
            var flashMessages = document.getElementById('flash_messages');
            if (flashMessages) {
                flashMessages.style.display = 'none';
            }
        }, 3000);
    </script>
</head>

<body>
    <div class="login-container">
        <div class="login-header">
            <h1>用户登录</h1>
        </div>
        <form method="post">
            <div class="form-group">
                <label for="username">用户名</label>
                <input type="text" id="username" name="username" placeholder="输入你的用户名">
            </div>
            <div class="form-group">
                <label for="password">密码</label>
                <input type="password" name="password" id="password" placeholder="输入你的密码">
            </div>
            <div id="flash_messages">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="warning-message">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>

            <button type="submit" class="submit-btn">登录</button>
        </form>
        <div class="register-link">
            还没有账号?
            <a href="/register">注册</a>
        </div>
    </div>
</body>

</html>